<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.FlowerDao">
	<select id="getCount" resultType="int">
		SELECT COUNT(*) FROM flower
	</select>
	<select id="getFlowerList" resultType="com.entity.Flower">
		SELECT * FROM flower
	</select>
	<delete id="delFlower">
		DELETE FROM flower WHERE id=#{id}
	</delete>
	<insert id="addFlower">    
		INSERT INTO flower VALUE (NULL,#{flower.name},#{flower.anothername},#{flower.property},#{flower.price},#{flower.production})
	</insert>
</mapper>